<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-2 px-1">
      <input type="text" class="form-control mb-1">
      <div class="list-group" >
        <button type="button"
                *ngFor="let item of '112'.split('')"
                class="list-group-item list-group-item-action brand"
                style="background-image: url('http://placehold.it/38x38')">
          标志
        </button>
      </div>
    </div>
    <div class="col-2 px-1">
      <input type="text" class="form-control mb-1">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">雅阁</button>
        <button type="button" class="list-group-item list-group-item-action">雅阁</button>
        <button type="button" class="list-group-item list-group-item-action">雅阁</button>
      </div>
    </div>
    <div class="col-2 px-1">
      <input type="text" class="form-control mb-1">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">1.3L</button>
        <button type="button" class="list-group-item list-group-item-action">1.4L</button>
        <button type="button" class="list-group-item list-group-item-action">1.5L</button>
      </div>
    </div>
    <div class="col-2 px-1">
      <input type="text" class="form-control mb-1">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">2004</button>
        <button type="button" class="list-group-item list-group-item-action">2005</button>
        <button type="button" class="list-group-item list-group-item-action">2006</button>
      </div>
    </div>
    <div class="col-2 px-1">
      <input type="text" class="form-control mb-1">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">2006款 1.5L 手动 普通</button>
        <button type="button" class="list-group-item list-group-item-action">2006款 1.5L 手动 普通</button>
        <button type="button" class="list-group-item list-group-item-action">2006款 1.5L 手动 普通</button>
      </div>
    </div>
    <div class="col-2 px-1">
      <form>
        <div class="form-group">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="2006款 1.5L 手动 普通">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="车架号">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="车牌号">
        </div>
        <input type="button" class="btn btn-success" value="添加"/>
      </form>
    </div>
  </div>
</div>
