//.col-2.px-1{
//  overflow-y: auto;
//  height: calc(100vh - 56px - 20px);
//}
//body{overflow: hidden;}
.brand{
  padding-left: 4.5rem;
  background-repeat: no-repeat;
  background-position: 1.25rem 50%;
}
